<header>
  <div class="masthead">
    <a class="header-logo" href="/"><img src="{{ .Site.Params.Logo }}" alt="logo"></a>
    <h1><a href="/">{{ .Site.Title }}</a></h1>
  </div>
  <div id="modeToggle">
    <svg id="modeNotes" xmlns="http://www.w3.org/2000/svg" fill="var(--text)" width="24" height="24">
      <path d="M14 10V4.5l5.5 5.5M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V9l-6-6H5Z" />
    </svg>
    <svg id="modeSlides" xmlns="http://www.w3.org/2000/svg" fill="var(--text)" width="24" height="24">
      <path
        d="M2 3h8a2 2 0 0 1 2-2 2 2 0 0 1 2 2h8v2h-1v11h-5.8l1.8 6h-2l-1.8-6h-2.4L9 22H7l1.8-6H3V5H2V3m3 2v9h14V5H5Z" />
    </svg>
  </div>
</header>
